/* global css */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0;
}

.haf-width {
    width: 50%;
}

.btn {
    background-color: #E03B8B;
    padding: 12px 37px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover {
    color: #242B2E;
}

.btn2 {
    border: none;
    font-size: 18px;
    background-color: #fff;
    color: #E03B8B;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn2:hover {
    color: #207398;
    text-decoration: underline;
}

svg.h-6.w-6 {
    width: 28px;
}


.mark {
    color: #207398;
}

/* font size */
h1,
h2,
h3,
p {
    color: #222;
}

h1 {
    font-size: 60px;
    line-height: 70px
}

h2 {
    font-size: 48px;
    line-height: 70px;
}

h3 {
    font-size: 22px;
    line-height: 36px;
    text-align: justify;
}

p {
    font-size: 18px;
    line-height: 25px;
}

/* hero-area css */
.hero-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero-image img {
    border-radius: 3%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.hero-content h1 {
    border-left: 5px solid #E03B8B;
    padding-left: 10px;
}

.hero-content p {
    margin: 10px 0;
}

/* service-section css */

.service-heading {
    text-align: center;
    margin-bottom: 40px;
}
.service-content{
    display: flex;
    gap: 20px;
    align-items: center;
}

.service-section {
    background-color: #f5f5f5;
}

.card {
    background-color: #fff;
    width: 35%;
    padding: 40px;
}

.card p {
    text-align: justify;
    margin: 10px 0;
    font-size: 16px;
}
/* lemits-section*/
.lemits-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lemits-text p {
    margin: 15px 0;
}